{% extends 'base.html.twig' %}

{% block title %}
    Cart
{% endblock %}

{% block body %}
    Your cart is empty. <br>
    <a class="btn btn-primary" href="{{ path('products') }}">Back</a>
{% endblock %}
