<table>
    <tr>
        <th>Product name</th>
        <th>Product price</th>
        <th>Product type</th>
        <th>Product description</th>
    </tr>
    <tr>
        <td>{{name}}</td>
        <td>{{price}} $</td>
        <td>{{type}}</td>
        <td>{{description}}</td>
    </tr>
    <tr>
        <td><a href="{{url}}">Back</a></td>
    </tr>
    <tr>
        <form action="index.php?page=addtocart" method="post">
            <input type="hidden" value="{{product_id}}" name="productid">
            <label>Quantity
                <input type="number" name="quantity" min="1" value="1">
            </label>
            <input type="submit" value="Add to cart">
        </form>
    </tr>
</table>
